/*index*/

body{
    background-color:#ebe9eb;
}
body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.footer{
    padding-top: 10% !important;
}
#a{
    font-size: 200%;
    font-family:cursive;
    text-align: right;
}
h4{
    margin-top: 10px;
}
/*otra fila*/
.columna1 {
    background-color: white;
    float: center;
    margin: 0 auto;
    padding: 1%;
    border: 6px ;

}

.columna1 h3{
    font-size: 270%;
    float:center;
    height: auto;
    margin: 0 auto;
}

.barra {
    float:center;
    margin: auto;
    width: auto;
    height: auto;
    padding: 1%;
    
}
.barra img{
    width:350px; 
    height:350px;
    margin: 10px;
}

.marg{
    margin-top: 10px;
    margin-bottom: 10px;
}
.bot_bord{
    margin-left: 10px;
}
.boton_bord{
    margin-right: 20px;
}
.marg_sup{
    margin-top: 100px;
}
.marg_inf{
    margin-bottom: 100px;
}

.fo_con{
    margin-bottom: 160px;
}







