#galeria .col-lg-4 col-md-6 col-sm-12 {
    margin: 0;
    padding: 25px;
}

#galeria img {
    width: 90%;
    height: 220px;
}

#galeria img:hover {
    border: 5px solid #f7f7f7;
}

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 400px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
    .showcase .showcase-img {
        min-height: 270px;
        min-width: 270;
        background-size: cover;
    }
}