
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-md{
    display: flex;
        width: auto;
        max-width: 950px;
        height: auto;
        background-color: white;
        border-radius: 2px;
        box-shadow: 1px 1px 4px 2px black (0 ,0 ,0 .2);
}
h2{
    font-size: 20px;
}
h1 {
    font-size: 175%;
    line-height: 155%;
    font-weight: 500;
    color: black;
    text-align: center;
    padding: 0;
}
.imagen_responsiva{
    width: 100%;
    max-width: 200px;
}
      
.conf_div{
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px black (0 ,0 ,0 .2);
    margin-bottom: 50px;
}
.centrado{
    text-align: center;
}