<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <script src="https://kit.fontawesome.com/0c8ac222e0.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <!--bootstrap-->
    <link rel="icon" type="image/jgp" href="{% static 'tool/img/social/icono.png' %}" alt="Icono pestaña">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--CSS-->
    <link type="text/css" rel="stylesheet" href="{% static 'tool/css/estilos.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'tool/css/ventacomp.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'tool/css/Productos.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'tool/css/gotop.css' %}">
    
    <title>Toolash INC</title>
</head>

<body>

    <!--Menu navbar-->

    <nav class="navbar navbar-dark bg-dark navbar-expand-sm sticky-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#opciones"
            aria-controls="opciones" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--Logo-->

        <a class="navbar-brand" href="{% url 'inicio' %}">
            <img src="{% static 'tool/img/png/logo2.png' %}" width="200" height="100" class="d-inline-block align-top" alt="Logo toolash">
        </a>

        <!--Links-->

        <div class="collapse navbar-collapse" id="opciones">
            <div class="navbar-nav mr-auto ml-auto text-center">
                <a class="nav-item nav-link" href="{% url 'inicio' %}">Inicio</a>

                <a class="nav-item nav-link" href="{% url 'servtec' %}">Serv. Tecnico</a>

                <a class="nav-item nav-link" href="{% url 'seguridad' %}">Seguridad</a>

                <a class="nav-item nav-link" href="{% url 'venta' %}">Componentes</a>

                <div class="d-flex flex-row justify-content-around ">
                    <a href="{% url 'login' %}" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg> Unirse
                    </a>
                </div>
            </div>
        </div>
    </nav>  
    <br>

    <!--INICIO BOTON SUBIR-->
    <a id="move-to-top" class="animate filling" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <script src="{% static 'tool/js/gotop.js' %}"></script>
    <!--FIN BOTON SUBIR-->

    <div class="container">
        <div class="row">
            <div class="section group">
                <div class="cont-desc span_1_of_2">
                    <div class="grid images_3_of_2">
                        <img src="{% static 'tool/img/ofertas/3.jpg' %}"  />
                    </div>
                    <div class="desc span_3_of_2">
                        <h2>Teclado Gamer Logitech G Pro RGB, Mecánico, Switch GX Blue, Alámbrico</h2>
                        <div class="price">
                            <p>Precio: <span>$67.500 / </span><span class="rallita" style="font-size:85%">$89.990</span>
                            </p>
                        </div>
                        <div class="available">
                            <p>Opciones Disponibles :</p>
                            <ul>
                                <li>Cantidad:<select>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select></li>
                            </ul>
                        </div>
                        <br><br><br>
                        <div class="share">
                            <p><span style="font-size:70%">Compartir :</span></p>
                            <ul>
                                <button class="redesCom"><i class="far fa-envelope"></i></i></button>
                                <button class="redesCom"><i class="fab fa-facebook-square"></i></button>
                                <button class="redesCom"><i class="fab fa-instagram"></i></button>
                                <button class="redesCom"><i class="fab fa-whatsapp"></i></button>
                            </ul>
                        </div>
                        <div class="add-cart">
                            <div class="button marg_inf"><span><a href="#">Comprar</a></span></div>

                        </div>
                    </div>
                    <div class="product-desc">
                        <h2>Detalles del Producto</h2>
                        <div class="detalle marg">
                            <h1 style="font-size:25px">Tecnología Mecánica Avanzada</h1>
                            <p>El interruptor mecánico Romer-G™ está pensado para un desempeño profesional, una gran
                                capacidad
                                de respuesta y larga duración. La actuación de carrera corta a 1,5 mm es un 25% más
                                rápida que
                                la de los interruptores mecánicos estándar de productos de la competencia. Con una
                                combinación
                                perfecta de rapidez, precisión y discreción, Romer-G es el superagente secreto de los
                                interruptores de teclado para juegos. La historia de Romer-G</p>
                            <h1 style="font-size:25px">Diseño Compacto Y Duradero</h2>
                                <p class="marg_inf">Diseño compacto sin teclado numérico que libera espacio en la mesa
                                    de torneo para
                                    movimientos
                                    del mouse de baja sensibilidad, y un cable extraíble para facilitar el transporte al
                                    siguiente torneo. La durabilidad se aplicó a cada componente y se reforzó con una
                                    placa de
                                    acero que además aporta la estabilidad y rigidez tan importantes durante el juego.
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <footer style="background-color: #212529">
        <div class="container">
            <div class="row ">
                <!--Links y copy-->
                <div class="col-md-4 text-center text-md-left ">
                    <div class="py-0">
                        <h3 class="my-4 text-white"><span class="mx-2 font-italic text-warning">TOOLASH</span></h3>
                        <p class="footer-links font-weight-bold">
                            <a class="text-white" href="{% url 'inicio' %}">Inicio</a>
                            |
                            <a class="text-white" href="{% url 'nosotros' %}">Nosotros</a>
                            |
                            <a class="text-white" href="{% url 'servicios' %}">Servicios</a>
                            |
                            <a class="text-white" href="{% url 'tiendas' %}">Tiendas</a>
                        </p>
                        <p class="text-light py-4 mb-4">&copy;2012 Newmoss Solutions Inc.</p>

                    </div>
                </div>


                <!--Redes sociales-->
                <div class="col-md-4 text-white my-4 text-center text-md-left ">
                    <div class="py-2 footer">
                        <a href="https://www.facebook.com/toolash.imperio/"><i
                                class="fab fa-facebook fa-4x text-primary mx-3"></i></a>

                        <a href="https://www.instagram.com/_toolash_original_/"><i
                                class="fab fa-instagram fa-4x text-danger mx-3"></i></a>
                    </div>
                </div>

                <!--Info-->
                <div class="col-md-4 text-white text-center text-md-left ">
                    <div class="py-2 my-4">
                        <div>
                            <p class="text-white"> <i class="fa fa-map-marker mx-4"></i>
                                Padre Mariano 356, Providencia, Metro Pedro de Valdivia</p>
                        </div>

                        <div>
                            <p><i class="fa fa-phone  mx-4 "></i> +56 (2) 2 622 08 70</p>
                        </div>

                        <div>
                            <p><i class="fa fa-envelope  mx-4"></i><a
                                    href="mailto:support@eduonix.com">contacto@toolash.com</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>