/*Back to top Start*/
#move-to-top {
position: fixed;
text-align: center;
cursor: pointer;
z-index: 9999;
width: 2em;
height: 2em;
line-height: 2;
color: #fff;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;   
}
#move-to-top{
    background-color:#141415;
    font-size:18px;
}
#move-to-top{
    right: 90%;
    bottom: 30px;
}
#move-to-top:not(.filling){
    opacity: 0;
    visibility: hidden;
}
#move-to-top i{
 font-family: fontawesome;
 font-weight: normal;
}
#move-to-top:hover{
opacity:1;
}